[include Custom_Poop_macro.cfg]
[include Custom_Kick_macro.cfg]
[include Custom_brush_macro.cfg]

#--=================================================================================-
#------- Global ---------------------------------------------------------------------
#--=================================================================================-
[gcode_macro _GLOBAL_VARS]
description: Global variables used in multiple macros
gcode: # Leave Empty

# Set this to match your AFC_stepper base naming in AFC_Hardware.cfg
# variable_stepper_name             : 'lane'    # [AFC_stepper lane1] [AFC_stepper lane2]...

variable_travel_speed             : 120       # Speed mm/s
variable_z_travel_speed           : 30        # Speed mm/s
variable_accel                    : 2000      # Move accel for all macro moves
# variable_disable_skew_correction  : False      # When True macros will disable and re-enable skew correction while performing kinematic actions, useful if you took your measurements before loading your skew profiles which may limit where the toolhead can go during print.
variable_verbose                  : 1         # Console Output for macros
                                              #  0 - None
                                              #  1 - Limited
                                              #  2 - All



#--=================================================================================-
#------- Poop ----------------------------------------------------------------------
#--=================================================================================-
[gcode_macro _POOP_VARS]
description: Poop macro configuration variables
gcode: # Leave empty


variable_purge_loc_xy             : 22, 230    # (x,y) Location of where to purge
variable_purge_spd                : 6.5       # Speed, in mm/s, of the purge.
variable_z_purge_move             : True      # Set to False to not move in Z during poop

# Speed, in mm/s to lift z after the purge is completed. Its a faster lift to keep it from 
# sticking to the toolhead
variable_fast_z                   : 200
variable_z_lift                   : 10        # Z height to raise above the final purge position after the purge is completed as part of the fast z move
                                              # example: If final poop height ends at 20mm this variable will raise Z to 30mm

# If the toolhead returns to initial position after the poop is complete.
variable_restore_position         : False     # True = return to initial position, False = don't return

# The z height of the nozzle at the purge position before purging. This allows any built up
# pressure to escape before the purge.

variable_purge_start              : 0.6

# Set the part cooling fan speed. Disabling can help prevent the nozzle from cooling down 
# and stimulate flow, Enabling it can prevent blobs from sticking together.
variable_part_cooling_fan         : True      # Run it at full speed
variable_part_cooling_fan_speed   : 1.0       # Speed to run fan when enabled above. 0 - 1.0
variable_purge_cool_time          : 2         # Time to pause after purge to allow fan to cool the poop in seconds

# ==================== PURGE LENGTH TUNING
# Default purge length to fall back on when neither the tool map purge_volumes or 
# parameter PURGE_LENGTH is set.
variable_purge_length             : 90

# The absolute minimum to purge, even if you don't changed tools. This is to prime the 
# nozzle before printing
variable_purge_length_minimum     : 70

# The slicer values often are a bit too wasteful. Tune it here to get optimal values. 0.6
# is a good starting point.
#variable_purge_length_modifier    : 1

# Length of filament to add after the purge volume. Purge volumes don't always take 
# cutters into account and therefor a swap from red to white might be long enough, but 
# from white to red can be far too short. When should you alter this value:
#   INCREASE: When the dark to light swaps are good, but light to dark aren't.
#   DECREASE: When the light to dark swaps are good, but dark to light aren't. Don't 
#     forget to increase the purge_length_modifier
#variable_purge_length_addition    : 0


#--=================================================================================-
#------- Kick ----------------------------------------------------------------------
#--=================================================================================-
[gcode_macro _KICK_VARS]
description: Kick macro configuration variables
gcode: # Leave empty

variable_kick_start_loc           : 62,240,5  # Location to move before kick
variable_kick_z                   : 1.5       # Height to drop to for kick move
variable_kick_speed               : 250       # Speed of kick movement
variable_kick_accel               : 0         # Accel of kick moves. This will overwrite the global accel for this macro. Set to 0 to use global accel
variable_kick_direction           : "left"   # Direction to make the kick move (left, right, front, back)
variable_kick_move_dist           : 52        # How far to move to kick poop off
variable_z_after_kick             : 10        # Height of z after kick move



#--=================================================================================-
#------- Brush ---------------------------------------------------------------------
#--=================================================================================-
[gcode_macro _BRUSH_VARS]
description: Brush macro configuration variables
gcode: # Leave empty


variable_brush_loc                : 9,322,-1  # Position of the center of the brush (Set z to -1 if you dont want a z move)
variable_brush_clean_speed        : 350       # Speed of cleaning moves when brushing
# Accel of cleaning moves when brushing. This will overwrite the global accel for this macro. Set to 0 to use global accel
variable_brush_clean_accel        : 9000
variable_brush_width              : 50        # Total width in mm of the brush in the X direction
variable_brush_depth              : 10        # Total depth in mm of the brush in the Y direction
variable_y_brush                  : True      # True - Brush along Y axis first then X. False - Only brush along x
variable_brush_count              : 4         # Number of passes to make on the brush.

# Move in Z after brush to avoid bed if brush is at Z0 (Set z to -1 if you dont want a z move)
variable_z_move                   : 10

# Addon variables for brush servo control
#variable_tool_servo_enable        : False
#variable_tool_servo_name          : "tool_brush"
#variable_tool_servo_angle_out     : 115
#variable_tool_servo_angle_in      : 0