# This file contains common pin mappings for the BigTreeTech Kraken.
# To use this config, the firmware should be compiled for the STM32H723Z6 with a "128KiB bootloader"
# Enable "extra low-level configuration options" and select the "25MHz crystal" as clock reference

# after running "make", copy the generated "klipper/out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the Kraken with that SD card.

# See docs/Config_Reference.md for a description of parameters.

## Voron Design VORON Trident 250/300/350mm BigTreeTech Kraken

## *** THINGS TO CHANGE/CHECK: ***
## MCU paths                            [mcu] section
## Thermistor types                     [extruder] and [heater_bed] sections - See https://www.klipper3d.org/Config_Reference.html#common-thermistors for common thermistor types
## Hotend heater pin                    [extruder] section
## Leadscrew Rotation Distance          [stepper_z], [stepper_z1], [stepper_z2]
## Z Endstop Switch location            [safe_z_home] section
## Z Endstop Switch  offset for Z0      [stepper_z] section
## Stepper Z1 enable pin                [stepper_z1] section
## PID tune                             [extruder] and [heater_bed] sections
## Probe pin                            [probe] section
## Fine tune E steps                    [extruder] section

[include mainsail.cfg]
[include Custom_Macros.cfg]
# [include OrbiterSensor.cfg]
[include Custom_Poop_Kick_Brush_macro_variables.cfg]
# [include SF2.cfg]
[include bedfans.cfg]

[mcu]
##  Obtain definition by "ls /dev/serial/by-id/*" then unplug to verify
##--------------------------------------------------------------------
# serial: /dev/serial/by-id/{REPLACE WITH YOUR SERIAL}
canbus_uuid: 9c5c97fee7df
# restart_method: command
##--------------------------------------------------------------------

[mcu nhk]
serial: /dev/serial/by-id/usb-Klipper_rp2040_4E363334320E689B-if00
restart_method: command

[printer]
kinematics: corexy
max_velocity: 300  
max_accel: 6100             #Max 4000
max_z_velocity: 30          #Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 350
square_corner_velocity: 5.0

[input_shaper]
shaper_type_x: mzv
shaper_freq_x: 68.2
shaper_type_y: mzv
shaper_freq_y: 45.4
# damping_ratio_x: 0.025
# damping_ratio_y: 0.066

[virtual_sdcard]
path: /home/pi/printer_data/gcodes
[display_status]
[pause_resume]
[exclude_object]

########################################
# Micro-Controller Temperature
########################################

[temperature_sensor Board_MCU]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[temperature_sensor Raspberry_Pi]
sensor_type: temperature_host
min_temp: 0
max_temp: 100

[temperature_sensor NH36]
sensor_type: temperature_mcu
sensor_mcu: nhk
min_temp: 0
max_temp: 100

#####################################################################
#   X/Y Stepper Settings
#####################################################################

##  B Stepper - Left
##  Connected to Motor_1-S1
##  Endstop connected to MIN1
[stepper_x]
step_pin: PC14
dir_pin: !PC13
enable_pin: !PE6
rotation_distance: 32
microsteps: 128
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
# endstop_pin: PC15
endstop_pin: nhk:gpio13
position_min: -46
##--------------------------------------------------------------------

##  Uncomment below for 250mm build
#position_endstop: 250
#position_max: 250

##  Uncomment for 300mm build
#position_endstop: 300
#position_max: 300

##  Uncomment for 350mm build
position_endstop: 304
position_max: 304

##--------------------------------------------------------------------
homing_speed: 75   #Max 100
homing_retract_dist: 10
homing_positive_dir: true

##  TMC2160 configuration
[tmc5160 stepper_x]
cs_pin: PD6
# interpolate: true
interpolate: false
spi_software_miso_pin: PC7
spi_software_mosi_pin: PC8
spi_software_sclk_pin: PC6
sense_resistor: 0.022
run_current: 1.5
# stealthchop_threshold: 100
##  sensorless homing, plug in jumper on M2-DIAG
#diag1_pin: PC15

##  A Stepper - Right
##  Connected to Motor_2-S2
##  Endstop connected to MIN2
[stepper_y]
step_pin: PE5
dir_pin: PE4
enable_pin: !PE3
rotation_distance: 32
microsteps: 128
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
endstop_pin: PF0
position_min: -26
##--------------------------------------------------------------------

##  Uncomment for 250mm build
#position_endstop: 250
#position_max: 250

##  Uncomment for 300mm build
#position_endstop: 300
#position_max: 300

##  Uncomment for 350mm build
position_endstop: 324
position_max: 324

##--------------------------------------------------------------------
homing_speed: 75  #Max 100
homing_retract_dist: 10
homing_positive_dir: true

##  TMC2160 configuration
[tmc5160 stepper_y]
cs_pin: PD5
# interpolate: true
interpolate: false
spi_software_miso_pin: PC7
spi_software_mosi_pin: PC8
spi_software_sclk_pin: PC6
sense_resistor: 0.022
run_current: 1.5
# stealthchop_threshold: 100
##  sensorless homing, plug in jumper on M2-DIAG
#diag1_pin: PF0
 
#####################################################################
#   Z Stepper Settings
#####################################################################

## Z0 Stepper - Front Left
##  Connected to Motor_5-S5
##  Endstop connected to MIN3
[stepper_z]
step_pin: PG9
dir_pin: !PG10
enable_pin: !PG13
# Rotation Distance for TR8x8 = 8, TR8x4 = 4, TR8x2 = 2
rotation_distance: 8    
microsteps: 64
# endstop_pin: PF1
endstop_pin: probe:z_virtual_endstop
##  Z-position of nozzle (in mm) to z-endstop trigger point relative to print surface (Z0)
##  (+) value = endstop above Z0, (-) value = endstop below
##  Increasing position_endstop brings nozzle closer to the bed
##  After you run Z_ENDSTOP_CALIBRATE, position_endstop will be stored at the very end of your config
# position_endstop: -0.5
## All builds use same Max Z
position_max: 250
position_min: -5
homing_speed: 8.0 # Leadscrews are slower than 2.4, 10 is a recommended max.
second_homing_speed: 5
homing_retract_dist: 0

##  TMC2160 configuration
[tmc5160 stepper_z]
cs_pin: PD2
interpolate: false
spi_software_miso_pin: PC7
spi_software_mosi_pin: PC8
spi_software_sclk_pin: PC6
sense_resistor: 0.075
run_current: 0.800
stealthchop_threshold: 0

##  Z1 Stepper - Rear Center
##  Connected to Motor_6-S6
[stepper_z1]
step_pin: PG11
dir_pin: !PD7
enable_pin: !PG12
# Rotation Distance for TR8x8 = 8, TR8x4 = 4, TR8x2 = 2
rotation_distance: 8  
microsteps: 32

##  TMC2160 configuration
[tmc5160 stepper_z1]
cs_pin: PA15
interpolate: false
spi_software_miso_pin: PC7
spi_software_mosi_pin: PC8
spi_software_sclk_pin: PC6
sense_resistor: 0.075
run_current: 0.800
stealthchop_threshold: 0

##  Z2 Stepper - Front Right
##  Connected to Motor_7-S7
[stepper_z2]
step_pin: PB4
dir_pin: !PB3
enable_pin: !PB5
# Rotation Distance for TR8x8 = 8, TR8x4 = 4, TR8x2 = 2
rotation_distance: 8  
microsteps: 32

##  TMC2160 configuration
[tmc5160 stepper_z2]
cs_pin: PA9
interpolate: false
spi_software_miso_pin: PC7
spi_software_mosi_pin: PC8
spi_software_sclk_pin: PC6
sense_resistor: 0.075
run_current: 0.800
stealthchop_threshold: 0


#####################################################################
#   Extruder
#####################################################################

[extruder]
step_pin: nhk:gpio23
dir_pin: !nhk:gpio24
enable_pin: !nhk:gpio25
microsteps: 16

rotation_distance: 48.03 ## # For WWG2 Extruder
gear_ratio: 9:1

full_steps_per_rotation: 200
nozzle_diameter: 0.400
filament_diameter: 1.750
max_extrude_only_distance: 500
max_extrude_only_velocity: 120
max_extrude_cross_section: 50

heater_pin: nhk:gpio9
sensor_type: Generic 3950
sensor_pin: nhk:gpio29
#control = pid
#pid_kp = 18.287
#pid_ki = 1.729
#pid_kd = 48.346
min_temp: 10
min_extrude_temp: 180
max_temp: 300
# pressure_advance: 0.02
# pressure_advance_smooth_time: 0.040

# sensor_type:MAX31865
# sensor_pin: PC9
# spi_bus: spi3a
# rtd_nominal_r: 100
# rtd_reference_r: 430
# rtd_num_of_wires: 2

[tmc2209 extruder]
uart_pin: nhk:gpio0
tx_pin: nhk:gpio1
interpolate: false
run_current: 0.60
hold_current: 0.500
sense_resistor: 0.10
stealthchop_threshold: 0
# stealthchop_threshold: 999999
driver_TBL: 0
driver_HEND: 6
driver_HSTRT: 7
driver_TOFF: 4


#####################################################################
#   Bed Heater
#####################################################################

##  SSR Pin - HE1
##  Thermistor - THB
[heater_bed]
##  Uncomment the following line if using the default SSR wiring from the docs site
heater_pin: PF6
##  Other wiring guides may use BED_OUT to control the SSR. Uncomment the following line for those cases
#heater_pin: PF5
## Check what thermistor type you have. See https://www.klipper3d.org/Config_Reference.html#common-thermistors for common thermistor types.
## Use "Generic 3950" for Keenovo heaters
sensor_type: Generic 3950
sensor_pin: PB1
##  Adjust max_power so it doesn't exceed the SSR rating. The Omron G3NA-210B-DC5 SSR is rated at 4 amps without a heatsink.
##  The formula is "4 / (Wattage_of_bed_heater / Mains_voltage) = max_power"
##  If max_power is greater than 1.0, use 1.0
max_power: 0.85
min_temp: 0
max_temp: 120
control: pid
pid_kp: 58.437
pid_ki: 2.347
pid_kd: 363.769

#####################################################################
#   Cartographer
#####################################################################


[mcu cartographer] # See https://www.klipper3d.org/Config_Reference.html#mcu
# Remove either the serial or canbus_uuid line dependant on your setup.
serial: /dev/serial/by-id/usb-Cartographer_stm32g431xx_190039000550315551333620-if00
# canbus_uuid: <blank>
restart_method: command # Not needed for probes using CAN. 

[cartographer]
mcu: cartographer
x_offset: 0 # This is the offset of your probe from the nozzle tip, to the centre of the coil.
y_offset: 26 # This is the offset of your probe from the nozzle tip, to the centre of the coil.
verbose: no # For extra output

[bed_mesh]
zero_reference_position: 130, 125 # The centre of your bed. 
speed: 300
horizontal_move_z: 3
mesh_min: 25, 25 # The first probed coordinate, nearest to the origin. This coordinate is relative to the probe's location.
mesh_max: 225, 225 # The probed coordinate farthest from the origin. This is not necessarily the last point probed, as the probing process occurs in a zig-zag fashion. As with mesh_min, this coordinate is relative to the probe's location.
probe_count: 20, 20
adaptive_margin: 10
mesh_pps: 0,0 # Disable interpolation - mesh is probably dense enough

[temperature_sensor cartographer]
sensor_type: temperature_mcu
sensor_mcu: cartographer
min_temp: 5
max_temp: 105

[adxl345]
# Select 1 of the cs_pin below depending on the probe you have. 
# Having the wrong one selected will cause an Endless Bootloop
# Cartographer V4 has int2 connected to the probes PA1 pin
# cs_pin: cartographer:PA3 # For Cartographer V3
cs_pin: cartographer:PA0 # For Cartographer V4
spi_bus: spi1

[resonance_tester]
accel_chip: adxl345
probe_points:
    130, 125, 20 # Fill out the blank with x and y coordinates where you want to run the resonance test.




##  Inductive Probe - IND-DET
##  This probe is not used for Z height, only Quad Gantry Leveling
# [probe]

# #--------------------------------------------------------------------

# ## Select the probe port by type:
# ## For the IND-DET port. Will work without a Diode. Install jumper if prove is NC. Remove jumper if probe is NO.
# #pin: ~!PD11

# #--------------------------------------------------------------------

# x_offset: 0
# y_offset: 25.0
# z_offset: 0
# speed: 10.0
# samples: 3
# samples_result: median
# sample_retract_dist: 3.0
# samples_tolerance: 0.006
# samples_tolerance_retries: 3

#####################################################################
#   Fan Control
#####################################################################

##  Print Cooling Fan - FAN0
# [fan]
# # pin: PA0
# pin: nhk:gpio6
# kick_start_time: 0.5
# ##  Depending on your fan, you may need to increase this value
# ##  if your fan will not start. Can change cycle_time (increase)
# ##  if your fan is not able to slow down effectively
# off_below: 0.10


##  Hotend Fan - FAN1
[heater_fan hotend_fan]
# pin: PA1
pin: nhk:gpio5
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
##  If you are experiencing back flow, you can reduce fan_speed
#fan_speed: 1.0

##  Controller fan - FAN2
[controller_fan controller_fan]
pin: PA0
kick_start_time: 0.5
heater: heater_bed

# Part cooling fan
[fan_generic fan0]
pin: nhk:gpio6
cycle_time: 0.01
hardware_pwm: false

# Auxiliary fan (comment out if you don't have it)
[fan_generic fan2]
pin: PA1
cycle_time: 0.01
hardware_pwm: false

# Exhaust / enclosure fan (comment out if you don't have it)
[fan_generic fan3]
pin: PA2
cycle_time: 0.01
hardware_pwm: false

[gcode_macro M106]
gcode:
    {% set fan = 'fan' + (params.P|int if params.P is defined else 0)|string %}
    {% set speed = (params.S|float / 255 if params.S is defined else 1.0) %}
    SET_FAN_SPEED FAN={fan} SPEED={speed}

[gcode_macro M107]
gcode:
    {% set fan = 'fan' + (params.P|int if params.P is defined else 0)|string %}
    {% if params.P is defined %}
    SET_FAN_SPEED FAN={fan} SPEED=0
    {% else %}
    # No P -> turn off typical defined fans
    SET_FAN_SPEED FAN=fan0 SPEED=0
    SET_FAN_SPEED FAN=fan2 SPEED=0
    SET_FAN_SPEED FAN=fan3 SPEED=0
    {% endif %}
#####################################################################
#   LED Control
#####################################################################

## Chamber Lighting - HE2 Connector (Optional)
[output_pin caselight]
pin: PF8
pwm:true
shutdown_value: 0
value:0.25
cycle_time: 0.01

#####################################################################
#   Homing and Gantry Adjustment Routines
#####################################################################

[idle_timeout]
timeout: 1800

[safe_z_home]
##  XY Location of the Z Endstop Switch
##  Update -10,-10 to the XY coordinates of your endstop pin 
##  (such as 157,305) after going through Z Endstop Pin
##  Location Definition step.
home_xy_position:130,125
speed:100
z_hop:10

[z_tilt]
##  Use Z_TILT_ADJUST to level the bed .
##  z_positions: Location of toolhead

##--------------------------------------------------------------------
## Uncomment below for 250mm build
z_positions:
   -50, 18
   125, 298
   300, 18
points:
   30, 5
   125, 195
   220, 5

## Uncomment below for 300mm build
#z_positions:
#   -50, 18
#   150, 348
#   350, 18
#points:
#   30, 5
#   150, 245
#   270, 5

## Uncomment below for 350mm build
# z_positions:
#   -50, 18
#   175, 398
#   400, 18
# points:
#   30, 5
#   175, 295
#   320, 5


##--------------------------------------------------------------------

speed: 200
horizontal_move_z: 10
retries: 5
retry_tolerance: 0.05

[temperature_sensor chamber]
sensor_pin: PC5
sensor_type: Generic 3950
min_temp: 0
max_temp: 90

[include shell_command.cfg]

[include autotune_tmc.cfg]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [cartographer scan_model default]
#*# coefficients = 1.5208419590438653,1.9902054387196346,0.8425502723341839,0.403747225675134,0.346114272373914,0.37612053147268226,-0.0908182656043715,-0.2527909161521147,0.18057339697664013,0.18828865970713254
#*# domain = 3.2609547005344785e-07,3.4043377239579055e-07
#*# z_offset = 0
#*# reference_temperature = 36.7
#*# software_version = 1.5.0
#*# mcu_version = CARTOGRAPHER V4 6.0.0
#*#
#*# [cartographer touch_model default]
#*# threshold = 871
#*# speed = 2
#*# z_offset = -0.05
#*# software_version = 1.5.0
#*# mcu_version = CARTOGRAPHER V4 6.0.0
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 44.137
#*# pid_ki = 2.432
#*# pid_kd = 200.270
